.gameGrid {
    width: 1000px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
    background-color: lightsalmon;
    position: relative;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.playerPositionsHorizontal {
    width: 40px;
    height: 100%;
    border-left: 3px solid #fff;
    position: relative;
}

.players {
    position: absolute;
    right: 50%;
    width: 40px;
}

@keyframes moveLeftToRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(100vw - 100px));

    }
}

@keyframes moveRightToLeft {
    0% {
        transform: translateX(0vw);
    }

    100% {
        transform: translateX(-95vw);
    }
}

.playerOneFiring {
    position: absolute;
    left: 0;
    animation: moveLeftToRight 2s linear 1;
}

.playerTwoFiring {
    position: absolute;
    left: 0;
    animation: moveRightToLeft 2s linear 1;

}

@keyframes explode {
    0% {
        background-image: url('/exp1.jpg');
    }

    15% {
        background-image: url('/exp2.jpg');
    }

    30% {
        background-image: url('/exp3.jpg');
    }

    45% {
        background-image: url('/exp4.jpg');
    }

    60% {
        background-image: url('/exp5.jpg');
    }

    75% {
        background-image: url('/exp6.jpg');
    }

    90% {
        background-image: url('/exp7.jpg');
    }

    100% {
        background-image: none;
    }


}

.explosionImg {
    background-image: url('/exp1.jpg');
    background-size: contain;
    position: absolute;
    width: 40px;
    height: 40px;
    transition: all .1s ease;
    animation: explode 1s 1;
}